@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat" ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border:none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size:62,5%;
    overflow: hidden;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

.logo{
    font-size: 45px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}
.menu a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.menu a:hover,
.menu a.active{
    color: #00abf0;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    height:100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 49px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

#fondo{
    background-color: #ededed;
    color: black;
    border-radius: 20px;
}

#fondo2{
    background-color: black;
    color: #ededed;
    border-radius: 20px;

}

#fondo3{
    background-color: #ededed;
    color: black;
    border-radius: 30px;
}

.home-sci {
    position:absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .3rem solid black;
    border-radius: 60%;
    font-size: 27px;
    color: black;
    overflow: hidden;
}

.home-sci a::before{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: var(--main-color);
}

.home-sci a:hover::before{
    width: 100%;
}



